{% extends 'layout/base.html' %}


{% block optional %}
    {# project related styles/js #}
    <link rel="stylesheet" href="/css/project.css"/>
    <script src="/js/bundle.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">


            <h4>Projects</h4>
            <hr>


            {% if projects|length == 0 %}
                <div class="empty-list">
                    You don't have any projects yet. Would you like to <a
                            class="empty-list-link"
                            href="/project/new">create</a> one?
                </div>
            {% else %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Owner</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr project-id="{{ project.id }}">
                            <th scope="row" class="project-row" >{{ loop.index }}</th>
                            <td class="project-row" >{{ project.title }}</td>
                            <td class="project-row" >{{ project.description|truncate(30, true) }}</td>
                            <td>{{ project.username }}</td>
                            <td>
                                {% if project.owner_id == user.id %}
                                    <a href="/project/{{ project.id }}/edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;
                                    <a href="/project/{{ project.id }}/delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}


        </div>
    </div>
{% endblock %}