{% extends 'layout/base.html' %}


{% block optional %}
    {# Codemirror and marked dependencies #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.3.0/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
    <script src="/js/codemirror-compressed.js"></script>


    {# HTML editor CSS and JavaScript #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/htmleditor.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/htmleditor.css"/>

    {# page-related styles/js #}
    <script src="/js/project.js"></script>
    <link rel="stylesheet" href="/css/project.css">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h4>
                {% if edit_mode %}
                    Edit Project
                    <small class="project-controls">Last time edited: {{ project.date_modified }}</small>
                {% else %}
                    New Project
                {% endif %}
            </h4>
            <hr>

            
            <div class="alert alert-danger" id="alert-label" role="alert"
                {% if message.length > 0 %}
                {% else %}
                        hidden
                {% endif %}
                    >{{ message }}</div>

            <form id="project-form" method="POST"
                    {% if edit_mode %}
                        action="/project/{{ project.id }}/"
                    {% else %}
                        action="/project"
                    {% endif %}
                    >

                <div class="form-group">
                    <label for="title" class="control-label">[*] Title:</label>
                    <input id="title-input" class="form-control"
                           name="title" type="text" title value="{{ project.title }}">
                </div>

                <div class="form-group">
                    <label for="url" class="control-label">URL:</label>
                    <input id="url-input" class="form-control"
                           name="url" type="url" title value="{{ project.url }}">
                </div>

                {% if edit_mode %}
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
                        Access Control
                    </button>
                {% endif %}

                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox"
                                      name="is_private"
                                    {% if project.is_private %}
                                        checked
                                    {% endif %}
                            > Private (not visible for general public)</label>
                    </div>
                </div>


                {# Method response codes/messages #}
                <br>
                <div class="panel panel-primary purple" id="message-panel">
                    <div class="panel-heading panel-response">
                        Response Messages
                        <span class="panel-controls pull-right">
                            <a class="panel-link white" id="add-message-link">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>
                    </div>
                    {% if project.response_messages|length == 0 %}

                        <div id="empty-messages-label" class="panel-body">
                            <div class="empty-list">
                                You haven't added any response messages yet. Would you like to <a
                                        class="empty-list-link" id="first-message-link">add</a> one?
                            </div>
                        </div>

                    {% else %}
                        <table id="message-table" class="table table-default">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Message</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="message-table-body">

                            {% for response in project.response_messages %}

                                <tr>
                                    <td>
                                        <div id="message-code"
                                             contenteditable="true" class="input-cell">{{ response.code }}</div>
                                    </td>
                                    <td>
                                        <div id="message-name"
                                             contenteditable="true" class="input-cell">{{ response.name }}</div>
                                    </td>
                                    <td>
                                        <div id="message-description" contenteditable="true"
                                             class="input-cell">{{ response.description }}</div>
                                    </td>
                                    <td>
                                        <span class="panel-controls pull-right">
                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                            &nbsp;
                                            <a class="panel-link delete-message">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>


                {# Description #}
                <div class="form-group">
                    <label for="description" class="control-label">[*] Description:</label>
                    <div class="">
                        <textarea class="form-control" name="description"
                                  data-uk-htmleditor="{markdown:true, maxsplitsize:900}"
                                  title>{{ project.description }}</textarea>
                    </div>
                </div>

                {# Create Project button #}
                <div class="form-group">
                    <button type="button" id="submit" class="btn btn-success">
                        {% if edit_mode %}
                            Update
                        {% else %}
                            Create
                        {% endif %}
                    </button>
                </div>

            </form>
        </div>
    </div>

    {% include "project/user_modal.html" %}
{% endblock %}
