{% extends 'layout/base.html' %}


{% block optional %}
    {# project related styles/js #}
    <link rel="stylesheet" href="/css/project.css"/>
    <script src="/js/bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="row">


        {# Side Menu #}
        <div class="no-print col-md-offset-1 col-md-3">
            {% include "layout/side_menu.html" %}
        </div>


        {# Main Content #}
        <div class="col-md-7">
            {# Breadcamp navigation menu #}
            {% if project.owner_id == user.id %}
                <ol class="no-print breadcrumb">
                    <li><a href="/project">Projects</a></li>
                    <li class="active">{{ project.title }}</a></li>
                </ol>
            {% endif %}

            {# Title and project controls #}
            <h4>
                {{ project.title }}
                {% if project.owner_id == user.id %}
                    <small class="project-controls">
                        <a class="no-print" href="/project/{{ project.id }}/edit">
                            <span class="glyphicon glyphicon-pencil no-print" aria-hidden="true"></span></a>&nbsp;&nbsp;
                        <a class="no-print" href="/project/{{ project.id }}/delete">
                            <span class="glyphicon glyphicon-trash no-print" aria-hidden="true"></span></a>&nbsp;&nbsp;
                    </small>
                {% endif %}
            </h4>
            <hr>


            {# Method response codes/messages #}
            <div class="page panel panel-primary purple" id="message-panel">
                <div class="panel-heading panel-response">Response Messages</div>

                {% if project.response_messages|length == 0 %}

                    <div id="empty-messages-label" class="panel-body">
                        <div class="empty-list">
                            This project has no response messages listed
                        </div>
                    </div>

                {% else %}
                    <table id="message-table page" class="table table-default">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Message</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="message-table-body">

                            {% for response in project.response_messages %}
                                <tr>
                                    <td>
                                        {% if response.code >= 400 %}
                                            <span class="label label-danger code-label">{{ response.code }}</span>
                                        {% else %}
                                            <span class="label label-success code-label">{{ response.code }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ response.name }}</td>
                                    <td>{{ response.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <br />
            {% if message.length > 0 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}

            <div>{{ project.description|safe }}</div>
        </div>
    </div>
{% endblock %}
