{% block modal_block %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Access Control</h4>
                </div>
                <div class="modal-body">
                    {# alert #}
                    <div class="alert alert-dismissible alert-danger" role="alert" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </div>
                        
                    <div class="panel panel-default">
                        {% if project.level == 3 %}
                        <div class="panel-heading">
                            <form class="form-inline">
                                <div class="dropdown" data-toggle="dropdown" id="foundUserMenuToggle">
                                    <input type="text" id="email-search" class="form-control" placeholder="Email Search" aria-describedby="basic-addon1">
                                    <button type="button" id="user-add" project-id="{{ project.id }}" class="btn btn-primary btn-sm">Add</button>
                                    <ul class="dropdown-menu" id="suggestedUsers">
                                        {# placeholder #}
                                    </ul>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <div class="panel-body">
                            <table class="table table-hover" id="permission-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        {% if project.level == 3 %}
                                            <th>Access Level</th>
                                            <th></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for current_user in users %}
                                        <tr user-id="{{ current_user.id }}">
                                            <th scope="row" class="project-row" >{{ loop.index }}</th>
                                            <td class="project-row" >{{ current_user.username }}</td>
                                            <td class="project-row" >{{ current_user.first_name|truncate(30, true) }}</td>

                                            {% if project.level == 3 %}
                                                <td>
                                                    <div class="btn-group btn-group-xs" role="group">
                                                        <button type="button" level="1" class="btn btn-default permission-level{% if current_user.level == 1 %} active {% endif %}">Read</button>
                                                        <button type="button" level="2" class="btn btn-default permission-level{% if current_user.level == 2 %} active {% endif %}">Write</button>
                                                        <button type="button" level="3" class="btn btn-default permission-level{% if current_user.level == 3 %} active {% endif %}">Admin</button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="delete-link" delete-link="/project/{{ project.id }}/access/{{ current_user.id }}/delete">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- closes table-->
                    </div>
                </div><!-- closes modal body -->

                <div class="modal-footer">
                    <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   {% block optional %}
       <script src="/js/user_modal.js" type="text/javascript" charset="utf-8"></script>
   {% endblock %}

{% endblock %}
