{% extends 'layout/base.html' %}


{% block optional %}
    {# Codemirror and marked dependencies #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.3.0/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
    <script src="/js/codemirror-compressed.js"></script>

    {# HTML editor CSS and JavaScript #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/htmleditor.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/htmleditor.css"/>

    {# module-related style #}
    <link rel="stylesheet" href="/css/module.css">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h4>
                {% if edit_mode %}
                    Edit Module
                    <small class="project-controls">Last time edited: {{ module.date_modified }}</small>
                {% else %}
                    New Module
                {% endif %}
            </h4>
            <hr>

            {% if message.length > 0 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}

            <form method="POST"
                    {% if edit_mode %}
                        action="/module/{{ module.id }}/"
                    {% else %}
                        action="/module/project/{{ project_id }}/"
                    {% endif %}
            >

                <div class="form-group">
                    <label for="title" class="control-label">[*] Title:</label>
                    <input id="title-input" class="form-control"
                           name="title" type="text" title value="{{ module.title }}">
                </div>


                {# Visibility control #}
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox"
                                      name="is_private"
                                    {% if module.is_private %}
                                        checked
                                    {% endif %}
                            > Private (not visible for general public)</label>
                    </div>
                </div>


                {# Module Rank (the fewer the better) #}
                <div class="form-group">
                    <label for="rank" class="control-label">Rank:</label>
                    <input class="form-control" id="rank-input" name="rank" type="number" min="0" max="100"
                           value="{{ module.rank }}" title>
                </div>


                {# Content #}
                <div class="form-group">
                    <label for="description" class="control-label">[*] Description:</label>
                    <div class="">
                        <textarea class="form-control" name="description"
                                  data-uk-htmleditor="{markdown:true, maxsplitsize:900}"
                                  title>{{ module.description }}</textarea>
                    </div>
                </div>

                {# Create Module button #}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        {% if edit_mode %}
                            Update
                        {% else %}
                            Create
                        {% endif %}
                    </button>
                </div>

            </form>

        </div>
    </div>
{% endblock %}