{% extends 'layout/base.html' %}


{% block optional %}
    {# page related styles/js #}
    <link rel="stylesheet" href="/css/module.css"/>
    <script src="/js/bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="row">


        {# Side Menu #}
        <div class="col-md-offset-1 col-md-3">
            {% include "layout/side_menu.html" %}
        </div>


        {# Main Content #}
        <div class="col-md-7">
            {# Breadcamp navigation menu #}
            <ol class="breadcrumb no-print">
                {% if project.owner_id == user.id %}
                    <li><a href="/project">Projects</a></li>
                {% endif %}
                <li><a href="/project/{{ project.id }}">{{ project.title }}</a></li>
                <li class="active">{{ module.title }}</a></li>
        </ol>

        {# Title and module controls #}
        <h4>
            {{ module.title }}
            {% if project.owner_id == user.id %}
                <small class="project-controls">
                    <a class="no-print" href="/module/{{ module.id }}/edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp;
                    <a class="no-print" href="/module/{{ module.id }}/delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </small>
            {% endif %}
        </h4>
        <hr>

        {% if message.length > 0 %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <div>{{ module.description|safe }}</div>

        <br class="forced_page">
        <div class="forced_page"></div>
        <h4>Methods
            {% if project.owner_id == user.id %}
                <small>
                    <a class="no-print" href="/method/module/{{ module.id }}/new">
                        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
                </small>
            {% endif %}
        </h4>
        <hr>

        {% if methods|length == 0 %}
            {% if project.owner_id == user.id %}
                <div class="empty-list">
                    You don't have any methods in this module yet. Would you like to <a
                        class="no-print empty-list-link"
                        href="/method/module/{{ module.id }}/new">create</a> one?
                </div>
            {% else %}
                <div class="empty-list">
                    There are no methods in this module yet.
                </div>
            {% endif %}
        {% else %}
            {% for method in methods %}
                <div class="input-group input-group-sm method-list-item no-print">
                    <span class="input-group-addon {{ method.request_type|lower }}-header">
                        {{ method.request_type|upper }}
                    </span>
                    <a href="/method/{{ method.id }}">
                        <input type="text" class="form-control {{ method.request_type|lower }}-method-item-body"
                        value="/{{ method.url_name }}" title readonly></a>

                    <span class="input-group-addon {{ method.request_type|lower }}-method-item-body">
                        <small class="project-controls">{{ method.short_description }}</small>
                    </span>
                    {% if project.owner_id == user.id %}
                        <span class="input-group-addon {{ method.request_type|lower }}-method-item-body">
                            <small class="project-controls">
                                <a href="/method/{{ method.id }}/edit" class="{{ method.request_type|lower }}">
                                    <span class="glyphicon glyphicon-pencil"
                                        aria-hidden="true"></span></a>&nbsp;
                                <a href="/method/{{ method.id }}/delete" class="{{ method.request_type|lower }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </small>
                        </span>
                    {% endif %}
                </div>
            {% endfor %}

            <table class="print-only methods-list-print">
                {% for method in methods %}
                    <tr class="method-print-row">
                        <td>
                            <span class="method-type">{{ method.request_type }}</span> 
                        </td>
                        <td>
                            <span class="method-print-name">{{ method.url_name }} </span>
                        </td>
                        <td class="method-print-description">{{ method.short_description }}</td>
                        <td>{{ page_number }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
