{% extends "layout/base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="alert alert-warning" role="alert">
                You have logged out successfully<br>
                <a class="alert-link" href="/login">Sign back in?</a>
            </div>
        </div>
    </div>
{% endblock %}
