{% extends "layout/base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h4>Log in</h4>
            <hr>

            {% if message.length > 0 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="/login" method="POST">
                        <div class="form-group">
                            <label for="username" class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="username" type="text" title></div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">Password:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="password" type="password" title>
                            </div>
                        </div>

                        {# sign in button #}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-5">
                                <button type="submit" class="btn btn-success">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
