{% extends "layout/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success centered-alert" role="alert">Your activation email has been sent to {{ email }}</div>
        </div>
    </div>
{% endblock %}
