<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Activation Email</title>
    </head>
    <body>
        <h3>Hello from RAPID, {{ first_name|title }}</h3>

        <p>
            In order, to activate your account, please click or copy and paste the following link in a 
            browser: <a href="https://rapid-api.me/user/verify?token={{ token }}">https://rapid-api.me/user/verify?token={{ token }}</a>
        </p>

        <p>
            If you didn't register with <a href="https://rapid-api.me">RAPID</a>, please disregard this message.
        </p>
    </body>
</html>
