{% extends "layout/base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>User Access Settings</h4>
            <hr>

            {# Error label #}
            <div id="user-settings-error" class="alert alert-danger" role="alert" hidden></div>

            {# The table of users #}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Read Only</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for current_user in users %}
                    <tr>
                        <th scope="row">{{ current_user.id }}</th>
                        <td>{{ current_user.username }}</td>
                        <td class="admin-cell">
                            {% if current_user.admin %}
                                <button class="btn btn-success btn-xs admin-status-button" type="button">YES</button>
                            {% else %}
                                <button class="btn btn-warning btn-xs admin-status-button" type="button">NO</button>
                            {% endif %}
                        </td>
                        <td class="read-only-cell">
                            {% if current_user.admin %}
                                NOT APPLICABLE
                            {% elif current_user.readonly %}
                                <button class="btn btn-danger btn-xs readonly-status-button" type="button">YES</button>
                            {% else %}
                                <button class="btn btn-success btn-xs readonly-status-button" type="button">NO</button>
                            {% endif %}
                        </td>
                        <td>
                            <a class='bttn' href="/user/{{ current_user.id }}/delete"><span
                                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}