{% extends "layout/base.html" %}


{% block optional %}
    <script src="/js/signup.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {% if edit_mode %}
                <h4>User profile</h4>
            {% else %}
                <h4>New User</h4>
            {% endif %}
            <hr>
            <div id="message-label" class="alert
            {% if not success %}alert-danger{% else %}alert-success{% endif %}"
                    {% if message.length > 0 %}
                 role="alert">
                {{ message }}
                {% else %}
                    role="alert" hidden>
                {% endif %}
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="user-form" class="form-horizontal"
                            {% if edit_mode %}
                                action="/user/{{ user.id }}/"
                            {% else %}
                                action="/user"
                            {% endif %}
                          method="POST">
                        {# First Name #}
                        <div class="form-group">
                            <label for="first_name" class="col-sm-4 control-label">First Name:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="first_name" value="{{ first_name }}" type="text"
                                       title></div>
                        </div>

                        {# Last Name #}
                        <div class="form-group">
                            <label for="last_name" class="col-sm-4 control-label">Last Name:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="last_name" value="{{ last_name }}" type="text" title>
                            </div>
                        </div>

                        {# Username #}
                        <div id="username-form-group" class="form-group {% if taken %} has-error{% endif %}">
                            <label for="username" class="col-sm-4 control-label">
                                Email {% if not edit_mode %}<sup>*</sup>{% endif %}:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="username" type="text" value="{{ username }}"
                                       autocomplete="off" title{% if edit_mode %} readonly{% endif %}>
                                <span id="username-help-block" class="help-block">{{ taken }}</span>
                            </div>
                        </div>

                        {# OLD Password (edit mode) #}
                        {% if edit_mode %}
                            <div id="old-password-form-group" class="form-group">
                                <label for="old_password" class="col-sm-4 control-label">Old Password
                                    <sup>*</sup>:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" name="old_password" autocomplete="off" type="password"
                                           title>
                                    <span id="old-password-help-block" class="help-block"></span>
                                </div>
                            </div>
                        {% endif %}

                        {# Password #}
                        <div id="password-form-group" class="form-group">
                            <label for="password" class="col-sm-4 control-label">Password <sup>*</sup>:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="password" autocomplete="off" type="password"
                                       title>
                                <span id="password-help-block" class="help-block"></span>
                            </div>
                        </div>

                        {# Password Confirm #}
                        <div id="password-confirm-form-group" class="form-group">
                            <label for="password_confirm" class="col-sm-4 control-label">Confirm
                                <sup>*</sup>:</label>
                            <div class="col-sm-5">
                                <input class="form-control" name="password_confirm" autocomplete="off"
                                       type="password"
                                       title>
                                <span id="password-confirm-help-block" class="help-block"></span>
                            </div>
                        </div>

                        {% if not edit_mode %}
                        {# CAPTCHA #}
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-4">
                                <br />
                                <div class="g-recaptcha" data-sitekey="6LfrYgoUAAAAALguZTDbipFvDnZD2j9PGqkCToAQ"></div>
                                <br />
                            </div>
                        </div>
                        {% endif %}

                        {# sign up button #}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-5">
                                {% if edit_mode %}
                                    <button id="form-button" type="button" class="btn btn-success">Update</button>
                                {% else %}
                                    <button id="form-button" type="button" class="btn btn-success">Sign up</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
