badge-success {
    background-color: #2c7244;
}

footer {
    margin-top: 70px;
    margin-bottom: 0 !important;
    background-color: white !important;
}

.footer-text {
    float: none;
    text-align: center !important;
}

.jumbotron {
   background-color: transparent !important;
}

.fancy-img {
    display: block;
    margin: 25px auto;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.back-on-top, .back-on-top:hover {
    text-decoration: none;
    cursor: pointer;
}

.page {
    page-break-after: auto;
    page-break-inside: avoid;
}
.forced_page {
    page-break-after: always;
    page-break-inside: avoid;
}

.methods-list-print {
    width: 100%;
}
.method-description {
    text-align: right;
}

@media print {
  table {float: none !important; }
  div { float: none !important; }
  .page-break { page-break-inside: avoid; page-break-before: always; }
  .no-print { display: none; } 
}

@media screen {
    .print-only {
        display: none;
    }
}

/* Print styles for the method list */
.methods-list-print {
    border-top: 1px #909090 solid;
    padding: 10px;
}

.method-print-row {
    border-bottom: 1px #909090 solid;
    line-height: 1.8em;
}

.method-print-name {
    display: inline-block;
    padding-left: 15px;
    font-weight: bolder;
}

.method-type {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid green;
    border-radius: 3px;
    color: white !important;
    background-color: green !important;
    margin: 5px;
    width: 70px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.method-print-description {
    padding-left: 20px;
    width: 100%;
}

.centered-alert {
    text-align: center;
}

#user-add, .inline-group {
    display: inline-block !important;
}

.permission-level:focus {
    outline: none !important;
}
