#url-name {
    font-family: "Andale Mono", monospace;
    font-weight: bolder;
    background-color: white;
}

li.active {
    font-family: "Andale Mono", monospace;
}

.description-block {
    background-color: white;
    border: 1px #a3a3a3 solid;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 15px;
}

.response-example-box {
    border: 1px solid #d1d1d1;
}

.glyphicon-arrow-up, .glyphicon-arrow-down {
    color: #07d;
}

hr {
    border-color: #d2d2d2;
}

.code-label {
    font-size: 12px;
    font-weight: normal;
}

#method-controls {
    background-color: white !important;
}

.empty-list {
    text-align: center;
}

.empty-list-link {
    border-bottom: 1px dotted;
}

.empty-list-link:hover {
    text-decoration: none;
}

#title-input {
    max-width: 400px;
}

#rank-input {
    max-width: 150px;
}

.project-controls {
    margin-right: 5px;
    float: right;
}

.panel-controls {
    cursor: pointer;
}

.panel-link {
    text-decoration: none;
}
.panel-link:hover {
    text-decoration: none;
}

.white, .white:hover {
    color: white;
}

.green, .green:hover {
    color: #449d44;
}

.red, .red:hover {
    color: darkred;
}

.input-cell {
    border-radius: 3px;
    border: 1px dotted #707070;
    background-color: #efefef;
}

#method-form {
    border-radius: 5px;
    padding: 15px;
}

.method-block {
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
}

.side-menu-list {
    margin-top: 0;
}

.panel-primary {
    border: 1px lightslategrey solid !important;
}

.purple {
    border: 1px #601D7B solid !important;
}

.panel-parameters {
    padding: 5px;
    background-color: lightslategrey !important;
    border: 1px lightslategrey solid !important;
}

.panel-response {
    padding: 5px;
    background-color: #9563A9 !important;
    border: 1px #9563A9 solid !important;
}

/*Background color depending on the request type */
.get {
    background-color: #ebf3f9;
}

.get-border {
    border: 1px #0f6ab4 solid;
}

.get-header {
    border: 1px #0f6ab4 solid;
    color: white;
    background-color: #0f6ab4 !important;
}

.post-header {
    border: 1px #10a54a solid;
    color: white;
    background-color: #10a54a !important;
}

.put-header {
    border: 1px #c5862b solid;
    color: white;
    background-color: #c5862b !important;
}

.delete-header {
    border: 1px #a41e22 solid;
    color: white;
    background-color: #a41e22 !important;
}

.post {
    background-color: #e7f6ec;
}

.put {
    background-color: #faf5ee;
}

.delete {
    background-color: #f7eded;
}

.short-description {
    font-size: 14px;
    font-weight: normal;
}



.uk-htmleditor-content:after,.uk-htmleditor-navbar:after{clear:both}.uk-htmleditor-navbar{background:#f7f7f7;border:1px solid rgba(0,0,0,.1);border-bottom-color:rgba(0,0,0,.2);border-top-left-radius:4px;border-top-right-radius:4px;background-origin:border-box;background-image:-webkit-linear-gradient(top,#fff,#eee);background-image:linear-gradient(to bottom,#fff,#eee)}.uk-htmleditor-navbar:after,.uk-htmleditor-navbar:before{content:"";display:table}.uk-htmleditor-navbar-nav{margin:0;padding:0;list-style:none;float:left}.uk-htmleditor-navbar-nav>li{float:left}.uk-htmleditor-navbar-nav>li>a{display:block;box-sizing:border-box;text-decoration:none;height:41px;padding:0 15px;line-height:40px;color:#666;font-size:11px;cursor:pointer;margin-top:-1px;margin-left:-1px;border:1px solid transparent;border-bottom-width:0;text-shadow:0 1px 0 #fff}.uk-htmleditor-navbar-nav>li:hover>a,.uk-htmleditor-navbar-nav>li>a:focus{background-color:transparent;color:#666;outline:0;position:relative;z-index:1;border-left-color:rgba(0,0,0,.1);border-right-color:rgba(0,0,0,.1);border-top-color:rgba(0,0,0,.1);box-shadow:inset 0 2px 4px rgba(0,0,0,.1)}.uk-htmleditor-navbar-nav>li.uk-active>a,.uk-htmleditor-navbar-nav>li>a:active{color:#666;border-left-color:rgba(0,0,0,.1);border-right-color:rgba(0,0,0,.1);border-top-color:rgba(0,0,0,.2);box-shadow:inset 0 2px 4px rgba(0,0,0,.1)}.uk-htmleditor-navbar-nav>li>a:active{background-color:#f5f5f5}.uk-htmleditor-navbar-nav>li.uk-active>a{background-color:#fafafa}.uk-htmleditor-navbar-flip{float:right}[data-mode=split] .uk-htmleditor-button-code,[data-mode=split] .uk-htmleditor-button-preview{display:none}.uk-htmleditor-content{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#fff;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.uk-htmleditor-content:after,.uk-htmleditor-content:before{content:"";display:table}.uk-htmleditor-fullscreen{position:fixed;top:0;left:0;right:0;bottom:0;z-index:990}.uk-htmleditor-fullscreen .uk-htmleditor-content{position:absolute;top:41px;left:0;right:0;bottom:0}.uk-htmleditor-fullscreen .uk-icon-expand:before{content:"\f066"}.uk-htmleditor-code,.uk-htmleditor-preview{box-sizing:border-box}.uk-htmleditor-preview{padding:20px;overflow-y:scroll;position:relative}[data-mode=tab][data-active-tab=code] .uk-htmleditor-preview,[data-mode=tab][data-active-tab=preview] .uk-htmleditor-code{display:none}[data-mode=split] .uk-htmleditor-code,[data-mode=split] .uk-htmleditor-preview{float:left;width:50%}[data-mode=split] .uk-htmleditor-code{border-right:1px solid #eee}.uk-htmleditor-iframe{position:absolute;top:0;left:0;width:100%;height:100%}.uk-htmleditor .CodeMirror{padding:10px;box-sizing:border-box}.uk-htmleditor-navbar-nav:first-child>li:first-child>a{border-top-left-radius:4px}.uk-htmleditor-navbar-flip .uk-htmleditor-navbar-nav>li>a{margin-left:0;margin-right:-1px}.uk-htmleditor-navbar-flip .uk-htmleditor-navbar-nav:first-child>li:first-child>a{border-top-left-radius:0}.uk-htmleditor-navbar-flip .uk-htmleditor-navbar-nav:last-child>li:last-child>a{border-top-right-radius:4px}.uk-htmleditor-fullscreen .uk-htmleditor-navbar{border-top:none;border-left:none;border-right:none;border-radius:0}.uk-htmleditor-fullscreen .uk-htmleditor-content{border:none;border-radius:0}.uk-htmleditor-fullscreen .uk-htmleditor-navbar-nav>li>a{border-radius:0!important}

