{% extends 'layout/base.html' %}


{% block optional %}
    {# Codemirror and marked dependencies #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.3.0/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
    <script src="/js/codemirror-compressed.js"></script>

    {# HTML editor CSS and JavaScript #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/htmleditor.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/htmleditor.css"/>

    {# method-related styles/js #}
    <link rel="stylesheet" href="/css/method.css">
    <script src="/js/method.js"></script>
    <script src="/js/bundle.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        {# Side Menu #}
        <div class="col-md-offset-1 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Method Settings</div>
                <ul class="list-group side-menu-list">
                    <li class="list-group-item"><a href="#properties">General Properties</a></li>
                    <li class="list-group-item"><a href="#request">Request</a></li>
                    <li class="list-group-item"><a href="#response">Response</a></li>
                </ul>
            </div>
        </div>


        {# Main Content #}
        <div class="col-md-7">
            <h4>
                {% if edit_mode %}
                    Edit Method
                    <small class="project-controls">Last time edited: {{ method.date_modified }}</small>
                {% else %}
                    New Method
                {% endif %}
            </h4>
            <hr>

            <div class="alert alert-danger" id="alert-label" role="alert" hidden></div>

            <form id="method-form" method="POST"
                    {% if edit_mode %}
                        action="/method/{{ method.id }}/"
                    {% else %}
                        action="/method/module/{{ module_id }}/"
                    {% endif %}
            >

                <h4>General Properties<a name="properties"></a></h4>
                <hr>

                {# URL Name #}
                <div class="form-group">
                    <label for="url_name" class="control-label">[*] URL name:</label>
                    <input id="title-input" class="form-control"
                           name="url_name" type="text" value="{{ method.url_name }}" title autofocus>
                </div>

                <div class="form-group">
                    <label for="rank" class="control-label">Method Rank</label>
                    <input id="rank-input" class="form-control" min="0" max="100"
                    name="rank" type="number" 
                        {% if edit_mode %}
                            value="{{ method.rank }}"
                        {% else %}
                        value="100"
                        {% endif %}
                        >
                </div>


                {# Short Description #}
                <div class="form-group">
                    <label for="short_description" class="control-label">[*] Short Description:</label>
                    <input class="form-control"
                           name="short_description" type="text" value="{{ method.short_description }}" title>
                </div>


                {# Visibility control #}
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox"
                                      name="is_private"
                                    {% if method.is_private %}
                                        checked
                                    {% endif %}
                            > Private (not visible for general public)</label>
                    </div>
                </div>


                {# Full Description #}
                <div class="form-group">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label for="full_description" class="control-label">Full Description (optional):</label>
                            <button type="button" class="btn btn-primary btn-xs spoiler-trigger pull-right"
                                    data-toggle="collapse">
                                Show/Hide
                            </button>
                        </div>

                        <div class="panel-collapse collapse out
                        {% if edit_mode and method.full_description|length > 0 %}in{% endif %}">
                            <textarea class="form-control" name="full_description"
                                      data-uk-htmleditor="{markdown:true, maxsplitsize:900}"
                                      title>{{ method.full_description }}</textarea>
                        </div>
                    </div>
                </div>


                <br>
                <a name="request"></a>
                <h4>Request</h4>
                <hr>


                {# Request type Button #}
                <div class="form-group">
                    <label class="control-label">Request Type:&nbsp;&nbsp;&nbsp;</label>
                    <div class="btn-group">
                        <button type="button" id="request-button" class="btn btn-success dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span id="request-type-value">{% if edit_mode %}{{ method.request_type }}{% else %}GET{% endif %}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="request-menu-item">GET</a></li>
                            <li><a class="request-menu-item">POST</a></li>
                            <li><a class="request-menu-item">PUT</a></li>
                            <li><a class="request-menu-item">DELETE</a></li>
                        </ul>
                    </div>
                </div>


                {# Method parameters #}
                <div class="panel panel-primary" id="parameter-panel">
                    <div class="panel-heading panel-parameters">
                        Parameters
                        <span class="panel-controls pull-right">
                            <a class="panel-link white" id="add-parameter-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                        </span>
                    </div>
                    {% if method.parameters|length == 0 %}

                        <div id="empty-parameters-label" class="panel-body">
                            <div class="empty-list">
                                You haven't added any parameters yet. Would you like to <a
                                        class="empty-list-link" id="first-parameter-link">add</a> one?
                            </div>
                        </div>

                    {% else %}
                        <table id="parameter-table" class="table table-default">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Required</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="parameter-table-body">

                            {% for parameter in method.parameters %}

                                <tr>
                                    <td>
                                        <div id="parameter-name"
                                             contenteditable="true" class="input-cell">{{ parameter.name }}</div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="parameter-location">{{ parameter.location }}</span> <span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="parameter-location-item">header</a></li>
                                                <li><a class="parameter-location-item">path</a></li>
                                                <li><a class="parameter-location-item">body</a></li>
                                                <li><a class="parameter-location-item">file</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="parameter-type">{{ parameter.type }}
                                                </span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="parameter-type-item">string</a></li>
                                                <li><a class="parameter-type-item">integer</a></li>
                                                <li><a class="parameter-type-item">float</a></li>
                                                <li><a class="parameter-type-item">boolean</a></li>
                                                <li><a class="parameter-type-item">binary</a></li>
                                                <li><a class="parameter-type-item">array</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="parameter-required" type="checkbox"
                                               {% if edit_mode and parameter.required %}
                                                   checked
                                               {% endif %}
                                               title=""> Required
                                    </td>
                                    <td>
                                        <div id="parameter-description" contenteditable="true"
                                             class="input-cell">{{ parameter.description }}</div>
                                    </td>
                                    <td>
                                        <span class="panel-controls pull-right no-print">
                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                            &nbsp;
                                            <a class="panel-link delete-parameter">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>


                {# Method response #}
                <br>
                <a name="response"></a>
                <h4>Response</h4>
                <hr>

                {# Response Format #}
                <div class="form-group">
                    <label class="control-label">Response Format:&nbsp;&nbsp;&nbsp;</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span id="response-type-value">{% if edit_mode %}{{ method.response_type }}{% else %}text/json{% endif %}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="response-menu-item">text/json</a></li>
                            <li><a class="response-menu-item">text/xml</a></li>
                            <li><a class="response-menu-item">text/plain</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="response" class="control-label">Successful Response Example:</label>
                    <textarea class="form-control" name="response" rows="6" title>{{ method.response }}</textarea>
                </div>


                {# project response codes/messages #}
                <div class="page panel panel-primary purple">
                    <div class="panel-heading panel-response">
                        Project Response Messages
                    </div>

                    {% if project.response_messages|length == 0 %}

                        <div class="panel-body">
                            <div class="empty-list">
                                This project has no response messages listed
                            </div>
                        </div>

                    {% else %}
                        <table class="table table-default">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Message</th>
                                    <th>Description</th>
                                    <th>Response</th>
                                </tr>
                            </thead>
                            <tbody id="project-table-body">

                                {% for response in project.response_messages %}
                                    <tr>
                                        <td>
                                            {% if response.code >= 400 %}
                                                <span class="label label-danger code-label response-code">{{ response.code }}</span>
                                            {% else %}
                                                <span class="label label-success code-label response-code">{{ response.code }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ response.name }}</td>
                                        <td>{{ response.description }}</td>
                                        <td>
                                            <input class="response-message-checkbox" type="checkbox"
                                            {% if response.isChecked == true %}
                                                checked
                                            {% endif %}
                                            title=""> 
                                        <td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                {# Method response codes/messages #}
                <div class="page panel panel-primary purple" id="message-panel">
                    <div class="panel-heading panel-response">
                        Method Response Messages
                        <span class="panel-controls pull-right">
                            <a class="panel-link white" id="add-message-link">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                        </span>
                    </div>

                    {% if method.response_messages|length == 0 %}

                        <div id="empty-messages-label" class="panel-body">
                            <div class="empty-list">
                                This method has no response messages listed
                            </div>
                        </div>

                    {% else %}
                        <table id="message-table page" class="table table-default">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Message</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="message-table-body">

                                {% for response in method.response_messages %}
                                    <tr response-id="{{ response.id }}" method-id={{ method.id }}>
                                        <td>
                                            <div id="message-code" contenteditable="true" class="input-cell">{{ response.code }}</div>
                                        </td>
                                        <td>
                                            <div id="message-name" contenteditable="true" class="input-cell">{{ response.name }}</div>
                                        </td>
                                        <td>
                                            <div id="message-description" contenteditable="true" class="input-cell">{{ response.description }}</div>
                                        </td>
                                        <td>
                                            <span class="panel-controls pull-right">
                                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>&nbsp;
                                                <a class="panel-link delete-message"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                <br>
                <hr>
                {# Create Method button #}
                <div class="form-group">
                    <button id="submit" type="button" class="btn btn-success">
                        {% if edit_mode %}
                            Update
                        {% else %}
                            Create
                        {% endif %}
                    </button>
                </div>

            </form>

        </div>
    </div>
{% endblock %}
