{% extends 'layout/base.html' %}


{% block optional %}
    <script src="//cdn.jsdelivr.net/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
    <script src="/js/codemirror-compressed.js"></script>

    {# page related styles/js #}
    <link rel="stylesheet" href="/css/method.css"/>
    <script src="/js/bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="row">


        {# Side Menu #}
        <div class="col-md-offset-1 col-md-3">
            {% include "layout/side_menu.html" %}
        </div>


        {# Main Content #}
        <div class="col-md-7">
            {# Breadcamp navigation menu #}
            <ol class="breadcrumb no-print">
                {% if method.owner_id == user.id %}
                    <li><a href="/project">Projects</a></li>
                {% endif %}
                <li><a href="/project/{{ method.project_id }}">{{ method.project_title }}</a></li>
                <li><a href="/module/{{ method.module_id }}">{{ method.module_title }}</a></li>
                <li class="active">[ /{{ method.url_name }} ]</li>
            </ol>

            {# Title and page controls #}
            <div id="method-title-group" class="input-group">
                <span class="input-group-addon" id="method-request-type">{{ method.request_type }}</span>
                <input type="text" id="url-name" class="form-control" readonly value="/{{ method.url_name }}" title>
                {% if method.owner_id == user.id %}
                    <span id="method-controls" class="input-group-addon no-print">
                        <small>
                            <span class="project-controls">
                                <a href="/method/{{ method.id }}/edit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp;
                                <a href="/method/{{ method.id }}/delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </span>
                        </small>
                    </span>
                {% endif %}
            </div>


            {% if message.length > 0 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}


            <div class="method-block get">
                {# Method request #}
                <a name="request"></a>
                <h4>Request</h4>
                <hr>

                {# Response Format #}
                {# Short Description #}
                <h5>Summary:&nbsp;&nbsp;<span class="short-description">{{ method.short_description }}</span></h5>

                {% if method.full_description|length > 0 %}
                    <br>
                    <div>
                        {# Full description (optional) #}
                        {{ method.full_description|safe }}
                    </div>
                    <br>
                {% endif %}


                {# Method parameters #}
                <br>
                <div class="page panel panel-primary" id="parameter-panel">
                    <div class="panel-heading panel-parameters">Parameters</div>

                    {% if method.parameters|length == 0 %}

                        <div id="empty-parameters-label" class="panel-body">
                            <div class="empty-list">
                                This method has no parameters
                            </div>
                        </div>

                    {% else %}
                        <table id="parameter-table" class="table table-default">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Type</th>
                                    <th>Required</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="parameter-table-body">

                                {% for parameter in method.parameters %}
                                    <tr>
                                        <td>{{ parameter.name }}</td>
                                        <td>{{ parameter.location }}</td>
                                        <td>{{ parameter.type }}</td>
                                        {% if parameter.required %}
                                            <td><span class="label label-danger">YES</span></td>
                                        {% else %}
                                            <td><span class="label label-success">NO</span></td>
                                        {% endif %}
                                        <td>{{ parameter.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                {# Method response #}
                <br>
                <a name="response"></a>
                <h4>Response&nbsp;&nbsp;<span class="label label-primary">{{ method.response_type }}</span></h4>
                <hr>

                {# Response example #}
                <div class="response-example-box no-print"><textarea id="response-example" class="form-control"
                        name="response" rows="6" title>{{ method.response }}</textarea></div>

                <div class="print-only">
                    {# Full description (optional) #}
                    <pre>
                        {{ method.response|indent(4, true) }}
                    </pre>
                </div>

                <br>
                {# project response codes/messages #}
                <div class="page panel panel-primary purple" id="message-panel">
                    <div class="panel-heading panel-response">Project Response Messages</div>

                    {% if project.response_messages|length == 0 %}

                        <div id="empty-messages-label" class="panel-body">
                            <div class="empty-list">
                                This project has no response messages listed
                            </div>
                        </div>

                    {% else %}
                        <table id="message-table page" class="table table-default">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Message</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="message-table-body">

                                {% for response in project.response_messages %}
                                    <tr>
                                        <td>
                                            {% if response.code >= 400 %}
                                                <span class="label label-danger code-label">{{ response.code }}</span>
                                            {% else %}
                                                <span class="label label-success code-label">{{ response.code }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ response.name }}</td>
                                        <td>{{ response.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                {# method response codes/messages #}
                <div class="page panel panel-primary purple" id="message-panel">
                    <div class="panel-heading panel-response">Method Response Messages</div>

                    {% if method.response_messages|length == 0 %}

                        <div id="empty-messages-label" class="panel-body">
                            <div class="empty-list">
                                This method has no response messages listed
                            </div>
                        </div>

                    {% else %}
                        <table id="message-table page" class="table table-default">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Message</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="message-table-body">

                                {% for response in method.response_messages %}
                                    <tr>
                                        <td>
                                            {% if response.code >= 400 %}
                                                <span class="label label-danger code-label">{{ response.code }}</span>
                                            {% else %}
                                                <span class="label label-success code-label">{{ response.code }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ response.name }}</td>
                                        <td>{{ response.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
