<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if title %}RAPID: {{ title }}{% else %}RAPID{% endif %}</title>

    {# jQuery #}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>

    {# Very nice Google open source font #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    {# Bootstrap js #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    {# General CSS style #}
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    {# optional page styles/js #}
    {% block optional %}{% endblock %}
</head>
<body>


{% block header %}
    {# Navbar #}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">RAPID <sup class="badge badge-success">beta</sup></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-left">
                    {% if user.username != 'Guest' %}
                        {# User projects/New Project links #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"> Projects <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/project/new">New Project...</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/project">View All Projects</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {# this app documentation/help page #}
                    <li><a href="/documentation">Documentation</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.username == 'Guest' %}
                        {# User sign up and log in links #}
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/user/new">Sign Up</a></li>
                    {% else %}
                        {# User Profile and log out links #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/{{ user.id }}/edit">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    <footer class="navbar navbar-default">
        <p class="navbar-text footer-text">
            &copy; 2016 All Rights Reserved
        </p>
    </footer>
{% endblock %}


</body>
</html>
