{% extends 'layout/base.html' %}

{% block optional %}
    {# fancybox import #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          type="text/css" media="screen"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    {# Optionally add helpers - button, thumbnail and/or media #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.css"
          type="text/css" media="screen"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css"
          type="text/css" media="screen"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js"></script>

    {# main js bundle #}
    <script src="/js/bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="row">


        {# Side Menu #}
        <div class="col-md-offset-1 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Index</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#welcome">Welcome
                                <ul>
                                    <li><a href="#features">Features</a></li>
                                </ul>
                            </a></li>
                        <li><a href="#start">How to start</a></li>
                        <li><a href="#session">Session
                                <ul>
                                    <li><a href="#session">Sign Up</a></li>
                                    <li><a href="#signin">Sign In</a></li>
                                    <li><a href="#signout">Sign Out</a></li>
                                </ul>
                            </a></li>
                        <li><a href="#newproject">Project
                                <ul>
                                    <li><a href="#newproject">New Project</a></li>
                                    <li><a href="#editproject">Edit Project</a></li>
                                    <li><a href="#deleteproject">Delete Project</a></li>
                                </ul>
                            </a></li>

                        <li><a href="#newmodule">Module
                                <ul>
                                    <li><a href="#newmodule">New Module</a></li>
                                    <li><a href="#editmodule">Edit Module</a></li>
                                    <li><a href="#deletemodule">Delete Module</a></li>
                                </ul>
                            </a></li>
                        <li><a href="#newmethod">Method
                                <ul>
                                    <li><a href="#newmethod">New Method</a></li>
                                    <li><a href="#editmethod">Edit Method</a></li>
                                    <li><a href="#deletemethod">Delete Method</a></li>
                                </ul>
                            </a></li>
                        <li><a href="#reference">Reference Page</a></li>
                        <li><a href="#profile">Profile
                                <ul>
                                    <li><a href="#profile">Edit your Profile</a></li>
                                </ul>
                            </a></li>
                        <li><a href="#authors">Few Words from the Authors</a></li>
                    </ul>
                </div>
            </div>
        </div>


        {# Main Content #}
        <div class="col-md-7">
            <h4>Documentation</h4>
            <hr>
            <br>
            <h4><a class="back-on-top" name="welcome">Welcome</a></h4>

            <hr>
            <p>Almost every modern web platform provides web services for developers. However, if an independent
                developer
                or a small company created API for a service, they often struggle to provide nice, clean and easy to use
                description for that API. Existing tools are sometimes overcomplicated to use and hard to deploy.
                Therefore we provide you with an online API documentation builder we call RAPID – Restful API
                Documentation
                to solve these problems. It is going to be an online tool that will allow to organize, describe and
                publish
                documentation for RESTful APIs. RAPID will provide an intuitive way of describing APIs, providing
                manuals
                and quick start pages, and organizing APIs in a modular fashion that is easy to navigate and search.
                RAPID is project-based where users can add each project that represents its full API with its general
                description. Users can either use our server or deploy the web application on their own infrastructure
                in
                order to publish documentation.</p>

            <a name="features"></a>
            <h5>Features:</h5>
            <ul>
                <li>Easy to access sign up/login/logout button</li>
                <li>Navigating around the methods will be a breeze</li>
                <li>Easy to manage projects</li>
                <li>Add custom pages that can be used as reference to projects</li>
                <li>Organized methods for big projects</li>
                <li>Markdown syntax editor for description fields with a preview on what it will look like side by
                    side
                </li>
            </ul>

            
            <p>Users can also choose to work on the description field in full screen mode by clicking the area marked
                with
                the red rectangle:
                <a class="fancy" href="/img/image001.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image001.png"
                                                               alt="Image"/></a>
            </p>

            <p>With a full screen access to the description users can unleash their creativity on the description field
                to
                make it more interesting:
                <a class="fancy" href="/img/image003.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image003.png"
                                                               alt="Image"/></a></p>


            <br><br>
            <h4><a class="back-on-top" name="start">How to start &#8593;</a></h4>
            <hr>
            <p><a class="fancy" href="/img/image005.png"><img class="img-rounded img-responsive fancy-img"
                                                              src="/img/image005.png"
                                                              alt="Image"/></a>
                Users can always start with a free sign up that is conveniently placed in the center of the main page.
                Users
                that have an account in RAPID will be able to document their RESTful APIs and also able to navigate
                through
                the list of APIs that are currently existing in RAPID. Besides that users would also be able to use
                these
                current APIs to build their own web apps.</p>


            <br><br>
            <h4><a class="back-on-top" name="session">Sign Up &#8593;</a></h4>
            <hr>
            <p><a class="fancy" href="/img/image007.png"><img class="img-rounded img-responsive fancy-img"
                                                              src="/img/image007.png"
                                                              alt="Image"/></a>
                After clicking the sign up button, users will be brought to this page.
                <a class="fancy" href="/img/image009.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image009.png"
                                                               alt="Image"/></a>
                Users are required to enter their details here and also select a unique password. After completing the
                sign
                up page hit the green sign up button and now users will now be able to log in and start using RAPID.</p>


            <br><br>
            <h4><a class="back-on-top" name="signin">Sign In &#8593;</a></h4>
            <hr>
            <p><a class="fancy" href="/img/image011.png"><img class="img-rounded img-responsive fancy-img"
                                                              src="/img/image011.png"
                                                              alt="Image"/></a>
                Users can login by clicking this button on the top right. By clicking this button, users will be
                navigated
                to this page:
                <a class="fancy" href="/img/image013.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image013.png"
                                                               alt="Image"/></a>
                Fill in the fields and hit sign in!
                <a class="fancy" href="/img/image015.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image015.png"
                                                               alt="Image"/></a>
                After logging in users will be redirected here,
                <a class="fancy" href="/img/image017.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image017.png"
                                                               alt="Image"/></a>
                Here we can start creating our very first project with RAPID by clicking the create button.</p>


            <br><br>
            <h4><a class="back-on-top" name="signout">Sign Out &#8593;</a></h4>
            <hr>
            <p>Users can always access the logout selection from the top right button labeled with the username of the
                user.
                <a class="fancy" href="/img/image019.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image019.png"
                                                               alt="Image"/></a>
                <a class="fancy" href="/img/image021.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image021.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="newproject">New Project &#8593;</a></h4>
            <hr>
            <p>After a user has successfully logged in, you will be redirected to create your first project. By clicking
                the create button on the page we will be redirected to this page below.
                <a class="fancy" href="/img/image023.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image023.png"
                                                               alt="Image"/></a>
                It has fields for the title of your project and you can also specify a URL for it or leave it empty if
                you
                don’t want to specify one.
                Users must fill up the Title field and Description field in order to proceed in creating the project.
                <a class="fancy" href="/img/image025.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image025.png"
                                                               alt="Image"/></a>
                After hitting the create button, users will be redirected to the project page that the user have just
                created.
                <a class="fancy" href="/img/image027.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image027.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="editproject">Edit Project &#8593;</a></h4>
            <hr>
            <p>There is two ways to access this feature, both ways will first need users to be logged in. After logging
                in,
                users will need to navigate to the main project page which can be accessible by clicking on the button
                indicated by the red rectangle on this image below.
                <a class="fancy" href="/img/image029.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image029.png"
                                                               alt="Image"/></a>
                One way to edit a project is where users can click on the small pencil button on the same row as the
                project
                the user wish to edit on the main project list page.
                <a class="fancy" href="/img/image031.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image031.png"
                                                               alt="Image"/></a>
                Another way is to first navigate to that specific project the user wish to edit and click the pencil
                symbol
                indicated on the image below.
                <a class="fancy" href="/img/image033.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image033.png"
                                                               alt="Image"/></a>
                After clicking the button users will be redirected to this edit project page and make any changes
                necessary.
                <a class="fancy" href="/img/image035.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image035.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="deleteproject">Delete Project &#8593;</a></h4>
            <hr>
            <p>To delete an existing project, first navigate to the projects page which you can access by clicking the
                button indicated with red box shown on the picture below.
                <a class="fancy" href="/img/image037.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image037.png"
                                                               alt="Image"/></a>
                Users will have two ways of deleting a project, one way is where users can access the list of projects
                page
                where there will be a bin symbol beside each project. To delete a specific project, users will need to
                click
                on the bin symbol indicated on the image below.
                <a class="fancy" href="/img/image039.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image039.png"
                                                               alt="Image"/></a>
                Another way is to go to a specific project page and then click the bin symbol shown on the image below.
                <a class="fancy" href="/img/image041.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image041.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="newmodule">New Module &#8593;</a></h4>
            <hr>
            <p>To add a new module users should go to a specific project first.
                <a class="fancy" href="/img/image043.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image043.png"
                                                               alt="Image"/></a>
                After selecting a project, users will be navigated to the project page. Users should click the plus sign
                or
                the blue text ‘create’ which is indicated on the image below to add a module.
                <a class="fancy" href="/img/image045.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image045.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="editmodule">Edit Module &#8593;</a></h4>
            <hr>
            <p>To edit a module, you first need to have modules that you previously added. To edit them, navigate to the
                project which has the module that you want to edit. On the left panel of the project page, click on the
                button indicated by the red rectangle on the image below.
                <a class="fancy" href="/img/image047.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image047.png"
                                                               alt="Image"/></a>
                Another way to edit is to click on the button indicated by the red rectangle on the image below. Which
                would
                be in the projects page.
                <a class="fancy" href="/img/image049.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image049.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="deletemodule">Delete Module &#8593;</a></h4>
            <hr>
            <p>There is two ways to delete an existing module one way is to navigate to a specific project page, and
                click
                the bin button indicated by the red rectangle on the images below.
                To delete the module from the left panel of the project page:
                <a class="fancy" href="/img/image051.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image051.png"
                                                               alt="Image"/></a>
                To delete the module from the project page.
                <a class="fancy" href="/img/image053.png">
                    <img class="img-rounded img-responsive fancy-img" src="/img/image053.png" alt="Image"/>
                    &#8593;</a></p>

            <br><br>
            <h4><a class="back-on-top" name="newmethod">New Method &#8593;</a></h4>
            <hr>
            <p>To add a new method users should go to the specific project and the specific module that they want to add
                a
                new method into it.
                Once they have selected it, they will be redirected to the following page:
                <a class="fancy" href="/img/image055.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image055.png"
                                                               alt="Image"/></a>
                This is where the users are able add a new method to a certain module. Users will be able to set the URL
                name of the method, a short description or a full description if the user want to about what the method
                does, what type of request it is and the response of the method.</p>

            <br><br>
            <h4><a class="back-on-top" name="editmethod">Edit Method &#8593;</a></h4>
            <hr>
            <p>To edit a method, users have to go the the method that they wish to edit. Then users are able to edit the
                method by clicking the red rectangle box below:
                <a class="fancy" href="/img/image057.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image057.png"
                                                               alt="Image"/></a>
                Once the user have clicked, they will be redirected to the method:
                <a class="fancy" href="/img/image059.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image059.png"
                                                               alt="Image"/></a>
                Now the users are able to edit the method again as much times as they want to. Once the users are done
                with
                editing, press the update button to update the method.
                <a class="fancy" href="/img/image061.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image061.png"
                                                               alt="Image"/></a>
                After that, users will be redirected back to the method page.</p>

            <br><br>
            <h4><a class="back-on-top" name="deletemethod">Delete Method &#8593;</a></h4>
            <hr>
            <p>Users have to go to the method page that they want to delete. Then, click the button in the red box
                below:
                <a class="fancy" href="/img/image063.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image063.png"
                                                               alt="Image"/></a>
                Once the users have clicked the button, the method will be deleted.</p>

            <br><br>
            <h4><a class="back-on-top" name="reference">New Reference Page &#8593;</a></h4>
            <hr>
            <p>To access this feature, users should first navigate to the specific project that they want to add a
                reference page to. On the project page, users can click on the plus sign or the create button indicated
                by
                the red rectangle on the image below to add a reference page.
                <a class="fancy" href="/img/image065.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image065.png"
                                                               alt="Image"/></a></p>

            <br><br>
            <h4><a class="back-on-top" name="profile">Edit Profile &#8593;</a></h4>
            <hr>
            <p>To edit the existing profile, users can always access on the top right button that is labeled with the
                username of the user which is indicated with a red rectangle on the image below.
                <a class="fancy" href="/img/image067.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image067.png"
                                                               alt="Image"/></a>
                <a class="fancy" href="/img/image068.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image068.png"
                                                               alt="Image"/></a>
                <a class="fancy" href="/img/image070.png"><img class="img-rounded img-responsive fancy-img"
                                                               src="/img/image070.png"
                                                               alt="Image"/></a>
                In this edit profile page, users can change their password and also their details.</p>


            <br><br>
            <h4><a class="back-on-top" name="authors">Few Words from the Authors &#8593;</a></h4>

            <hr>
            <p>We welcome everyone to try our web application, we appreciate any feedback that helps us to improve. We
                hope
                you would enjoy our product as much as we have enjoyed building it. This is an open source product where
                we
                welcome any changes, improvements, and adjustments user make. Feel free to build something great on top
                of
                it.</p>


        </div>
    </div>
{% endblock %}