{% extends 'layout/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h3>{{ error.status }} <small>{{ message }}</small></h3>
            {% if error.stack %}
                <pre>{{ error.stack }}</pre>
            {% endif %}
        </div>
    </div>

{% endblock %}
