{% extends 'layout/base.html' %}

{% block content %}
    {# Main landing content #}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="text-center">RESTful API Documentation Builder: RAPID <sup class="badge badge-success">beta</sup></h1>
            <div class="jumbotron text-center">
                <p>Almost every modern web platform provides web services for developers.</p>

                <p>
                    However, if an independent developer or a small company created API for a service,
                    they often struggle to provide nice, clean and easy to use description for that API. Existing
                    tools are sometimes overcomplicated to use and hard to deploy. RAPID simply solves these problems.
                </p>

                <p>
                    RAPID is an online tool that allows to organize, describe and publish
                    documentation for
                    RESTful APIs. RAPID provides an intuitive way of describing APIs,
                    providing manuals and quick start pages, and organizing APIs in a modular fashion that is easy
                    to navigate and search.
                </p>

                <a class="btn btn-primary btn-lg" href="/user/new" role="button">Sign Up</a>
            </div>
        </div>
    </div>

    {# Three promo columns #}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Simple</h4>

                            <p>
                                We've designed a very intuitive and minimalistic interface for your APIs.
                                Everything is organized to be as easy to access and work on as possible.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Beautiful</h4>

                            <p>
                                We use color to make difference. Colors give hints, help with navigation, and look
                                gorgeous. Share your API with others with pride: It will look beautiful
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Open & Free</h4>

                            <p>
                                We use the power of Open Source to make this project work.
                                Anyone can use this project for free. The code is available under the MIT license.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
