{% block side_menu %}
    {# modules block #}
    <div class="panel panel-info no-print">
        <div class="panel-heading">Modules
            {% if owner_id and owner_id == user.id %}
                <a class="no-print" href="/module/project/{{ project_id }}/new">
                    <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
            {% endif %}
        </div>

        {% if modules|length == 0 and owner_id and owner_id == user.id %}
            <div class="panel-body">
                <div class="empty-list">
                    You don't have any modules yet. Would you like to <a
                            class="empty-list-link"
                            href="/module/project/{{ project_id }}/new">create</a> one?
                </div>
            </div>
            {% elif modules|length == 0 %}
            <div class="panel-body">
                <div class="empty-list">There are no modules yet.</div>
            </div>
        {% else %}
            <ul class="list-group">
                {% for module in modules %}
                    <li class="list-group-item">

                        <a class="no-print" href="/module/{{ module.id }}">{{ module.title }}</a>&nbsp;
                        {% if false and owner_id == user.id %}
                            <small class="project-controls">
                                <a class="no-print" href="/module/{{ module.id }}/edit">
                                            <span class="glyphicon glyphicon-pencil"
                                                  aria-hidden="true"></span></a>&nbsp;
                                <a class="no-print" href="/module/{{ module.id }}/delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </small>
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    {# pages block #}
    <div class="panel panel-success no-print">
        <div class="panel-heading">Pages
            {% if owner_id and owner_id == user.id %}
                <a class="no-print" href="/page/project/{{ project_id }}/new"><span class="glyphicon glyphicon-plus pull-right"
                                                                  aria-hidden="true"></span></a>
            {% endif %}
        </div>

        {% if pages|length == 0 and owner_id and owner_id == user.id %}
            <div class="panel-body">
                <div class="empty-list">
                    You don't have any pages yet. Would you like to <a
                            class="empty-list-link no-print"
                            href="/page/project/{{ project_id }}/new">create</a> one?
                </div>
            </div>
            {% elif pages|length == 0 %}
            <div class="panel-body">
                <div class="empty-list">There are no pages yet.</div>
            </div>
        {% else %}
            <ul class="list-group">
                {% for current_page in pages %}
                    <li class="list-group-item">

                        <a class="no-print" href="/page/{{ current_page.id }}">{{ current_page.title }}</a>&nbsp;
                        {% if false and owner_id == user.id %}
                            <small class="project-controls">
                                <a class="no-print" href="/page/{{ current_page.id }}/edit">
                                            <span class="glyphicon glyphicon-pencil"
                                                  aria-hidden="true"></span></a>&nbsp;
                                <a class="no-print" href="/page/{{ current_page.id }}/delete">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </small>
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
