{% extends 'layout/base.html' %}


{% block optional %}
    {# page related styles/js #}
    <link rel="stylesheet" href="/css/page.css"/>
    <script src="/js/bundle.js"></script>
{% endblock %}

{% block content %}
    <div class="row">


        {# Side Menu #}
        <div class="col-md-offset-1 col-md-3">
            {% include "layout/side_menu.html" %}
        </div>


        {# Main Content #}
        <div class="col-md-7">
            {# Breadcamp navigation menu #}
            <ol class="breadcrumb no-print">
                {% if project.owner_id == user.id %}
                    <li><a href="/project">Projects</a></li>
                {% endif %}
                <li><a href="/project/{{ project.id }}">{{ project.title }}</a></li>
                <li class="active">{{ page.title }}</a></li>
            </ol>

            {# Title and page controls #}
            <h4>
                {{ page.title }}
                {% if project.owner_id == user.id %}
                    <small class="project-controls no-print">
                        <a href="/page/{{ page.id }}/edit">
                            <span class="glyphicon glyphicon-pencil no-print" aria-hidden="true"></span></a>&nbsp;&nbsp;
                        <a href="/page/{{ page.id }}/delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </small>
                {% endif %}
            </h4>
            <hr>

            {% if message.length > 0 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}

            <div>{{ page.content|safe }}</div>
        </div>
    </div>
{% endblock %}
